.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 4px 6px -6px black;
}

.header-icon{
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
}

.product-display{
    display: flex;
    padding: 20px;
    list-style: none;
    border-color: orangered;
    border-width: 3px;
}   

.product-name{
    display: flex;
}

.product-price{
    margin-top: 10px;
    padding: 10px;
}

.product-accessory{
    margin-left: auto;
}git